@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.woff2') format('woff2');
}

:root {
  --font-family: 'Inter', sans-serif;

  --font-size-small: 0.7rem;
  --font-size-medium: 2rem;
  --font-size-large: 8rem;
  --font-size-xlarge: 2rem;

  --color-light: #fff;
  --color-black: #000;
  --color-primary: #F9F9F9;
  --color-secondary: lightgray;

  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 3rem;
  --spacing-xxlarge: 2rem;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-primary);
}

* {
  font-family: var(--font-family);
}

img {
  user-select: none;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  margin-block: var(--spacing-xxlarge);
}

footer {
  margin-block: var(--spacing-xlarge);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title,
.heading,
.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-xl {
  font-size: var(--font-size-large);
  font-weight: 800;
  margin: 0;

  @media (max-width: 600px) {
    font-size: clamp(2rem, 40vw, 8rem);
  }
}

.icon-heading {
  width: 10rem !important;
  height: 10rem !important;
  transform: translateX(25%);

  @media (max-width: 600px) {
    display: none;
  }
}

.subtitle {
  font-size: var(--font-size-medium);

  p {
    margin: 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .which-city {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;

    .change-city-icon {
      width: 35px;
      cursor: pointer;
      transition: transform 100ms;

      &:hover {
        transform: rotate(10deg);
      }
    }
  }
}

.city {
  font-size: 2.5rem;
  font-weight: 600;
}

.description {
  font-weight: 400;
  text-align: right;

  @media (max-width: 600px) {
    text-align: left;
    font-weight: 300;
  }
}

.timeline {
  display: flex;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  justify-self: flex-start;
}

.line {
  min-width: 20rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    top: 78%;
    left: 8%;
    height: 1.5px;
    width: 84%;
    background-color: var(--color-black);
    position: absolute;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 380px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-v {
  height: 8px;
  width: 1.5px;
  background-color: var(--color-black);
}

.time-number {
  font-size: var(--font-size-small);
}

#time-17,
#time-16 {
  @media (max-width: 380px) {
    display: none;
  }
}

.next-days {
  margin-top: var(--spacing-xlarge) !important;
}

.next-day-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  margin-bottom: var(--spacing-xxlarge) !important;
}

.day {
  justify-self: flex-end;
  margin: 0;

  @media (max-width: 768px) {
    margin-right: 0;
    justify-self: flex-start;
  }
}

.text-l {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  margin: 0;
}

.line-tmp {
  height: 1.5px;
  justify-self: center;
  background-color: var(--color-black);
  min-width: 4rem;
  width: 80%;
  position: relative;

  --line-offset: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: var(--line-offset);
    width: 1.5px;
    height: 10px;
    background-color: var(--color-black);
  }
}

.other-city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: row;
  align-items: center;
  gap: 0.75rem;

  @media (max-width: 420px) {
    grid-template-columns: auto;
  }
}

.city-preview-box {
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: var(--spacing-medium);
}

.add-city-box {
  display: grid;
  place-items: center;
  background-color: none;
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
  min-height: 100px;
  height: 100%;
  width: 100%;
  padding: var(--spacing-medium);

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary);
  }

  .plus-icon {
    width: 30px;
    height: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 2.5px;
      background-color: var(--color-secondary);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5px;
      height: 100%;
      background-color: var(--color-secondary);
    }
  }
}

.title > p {
  font-size: 1.25rem;
  margin-right: 1.25rem !important;

  @media (max-width: 600px) {
    margin-right: 0 !important;
  }
}

.city-preview {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: row;
  align-items: center;

  .min-tmp {
    justify-self: flex-end;
    margin-right: var(--spacing-small);
  }

  .max-tmp {
    margin-left: var(--spacing-small);
  }

  @media (max-width: 420px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 50px;

    .icon {
      display: none;
    }

    .line-tmp {
      min-width: auto;
    }
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    text-align: center;
    padding-inline: var(--spacing-medium);
  }
}

.input-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-top: var(--spacing-medium);
}

.search-main {
  max-width: 1000px;
  width: 80%;
  border: 0;
  border-radius: 15px;
  background-color: var(--color-primary);
  padding: var(--spacing-medium);

  &:focus {
    outline: none;
    border: 0;
  }
}

.suggestions {
  position: absolute;
  left: 50%; /* Verschiebung um 15px nach rechts */
  top: calc(100% + 5px);
  transform: translateX(-50%); /* Zentriert den Container basierend auf der Mitte */
  width: 77%; /* Passt die Breite an, damit sie korrekt bleibt */
  max-width: 985px;

  div {
    padding-block: 0.5rem;
    cursor: pointer;
    transition: padding-left 100ms;

    &:hover {
      padding-left: 0.5rem;
    }
  }

  div:not(:last-child) {
    border-bottom: 1px solid var(--color-black);
  }
}

.city-group {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;

  .delete-city-icon {
    width: 22px;
    cursor: pointer;
    transition: transform 100ms;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  backdrop-filter: blur(1.5px);
}

.popup-container {
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 70%;
  min-width: 30rem;
  max-width: 50rem;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  padding: var(--spacing-medium);
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  transition: top 100ms;

  @media (max-width: 540px) {
    width: 90%;
    min-width: 0;
  }
}

.popup-suggestions > div:first-child {
  border-top: 2px solid var(--color-black);
  padding-top: 0.5rem;
}

.popup-suggestions div {
  padding-block: 0.2rem;
  cursor: pointer;
  transition: padding-left 100ms;

  &:hover {
    padding-left: 0.2rem;
  }
}

.popup-input {
  border: 0;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;

  &:focus {
    outline: none;
    border: 0;
  }
}
