@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: 'Inter', sans-serif;

  --font-size-small: 0.7rem;
  --font-size-medium: 2rem;
  --font-size-large: 8rem;
  --font-size-xlarge: 2rem;

  --color-black: #000;
  --color-light-gray: #F9F9F9;

  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 3rem;
  --spacing-xxlarge: 2rem;
}

* {
  font-family: var(--font-family);
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  margin-block: var(--spacing-xxlarge);
}

footer {
  margin-block: var(--spacing-xlarge);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title,
.heading,
.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-xl {
  font-size: var(--font-size-large);
  font-weight: 800;
  margin: 0;

  @media (max-width: 600px) {
    font-size: clamp(2rem, 40vw, 8rem);
  }
}

.icon-heading {
  width: 10rem !important;
  height: 10rem !important;
  transform: translateX(25%);

  @media (max-width: 600px) {
    display: none;
  }
}

.subtitle {
  font-size: var(--font-size-medium);

  p {
    margin: 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.city {
  font-size: 2.5rem;
  font-weight: 600;
}

.description {
  font-weight: 400;
  text-align: right;

  @media (max-width: 600px) {
    text-align: left;
    font-weight: 300;
  }
}

.timeline {
  display: flex;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  justify-self: flex-start;
}

.line {
  min-width: 20rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    top: 78%;
    left: 8%;
    height: 1.5px;
    width: 84%;
    background-color: var(--color-black);
    position: absolute;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 380px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-v {
  height: 8px;
  width: 1.5px;
  background-color: var(--color-black);
}

.time-number {
  font-size: var(--font-size-small);
}

#time-17,
#time-16 {
  @media (max-width: 380px) {
    display: none;
  }
}

.next-days {
  margin-top: var(--spacing-xlarge) !important;
  margin-bottom: var(--spacing-large) !important;
}

.next-day-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  margin-bottom: var(--spacing-xxlarge) !important;
}

.day {
  justify-self: flex-end;
  margin: 0;

  @media (max-width: 768px) {
    margin-right: 0;
    justify-self: flex-start;
  }
}

.text-l {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  margin: 0;
}

.line-tmp {
  height: 1.5px;
  justify-self: center;
  background-color: var(--color-black);
  min-width: 4rem;
  width: 80%;
  position: relative;

  --line-offset: 0%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: var(--line-offset);
    width: 1.5px;
    height: 10px;
    background-color: var(--color-black);
  }
}

.other-city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: row;
  align-items: center;
  gap: 0.75rem;

  @media (max-width: 420px) {
    grid-template-columns: auto;
  }
}

.city-preview-box {
  background-color: var(--color-light-gray);
  border-radius: 10px;
  padding: var(--spacing-medium);
}

.title > p {
  font-size: 1.25rem;
  margin-right: 1.25rem !important;

  @media (max-width: 600px) {
    margin-right: 0 !important;
  }
}

.city-preview {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: row;
  align-items: center;

  .min-tmp {
    justify-self: flex-end;
    margin-right: var(--spacing-small);
  }

  .max-tmp {
    margin-left: var(--spacing-small);
  }

  @media (max-width: 420px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 50px;

    .icon {
      display: none;
    }

    .line-tmp {
      min-width: auto;
    }
  }
}
